*{
    margin: 0; /* Asegura que no haya márgenes por defecto que puedan afectar */
    padding: 0; /* Asegura que no haya relleno por defecto que pueda afectar */
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background: linear-gradient(to right, #add8e6, #001f3f, #4B0082);
  
}
.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 8%;
    background-image: none;


}
.titulopage{
    margin-left: 33%;
    font-size: 20px;
    background-color: none;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
    padding: 10px;
    gap: 20px; /* Espacio entre los elementos hijos */
   
}
.form-group{
    border: 3px solid rgb(255, 17, 0);
    background: none;
   
}
.resultado-group{
    border: 3px solid rgb(255, 0, 200);
    background: none;
}

.texto {
    color: #001f3f;
    margin-top: 90px;
    text-transform: lowercase;
    border: none;
    background: none;

}

::placeholder{
    color: #001f3f;
    
}

.texto:focus{
    outline: none;
}

.mensaje{
    background-color: #ddd;
    background-image:url(imagenes/Muñeco.png) ;
    background-repeat: no-repeat;
    border:none;
    border-radius: 24px;
    color: #001f3f;
    margin-right: 98px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
    position: relative;

}
.mensaje:focus{
    outline: none;
}

.buttons {
    display: flex;
    margin-top: 18px;
    background:none;
}

.encriptar {
    background: #007bff !important;
    border: 2px solid #001f3f !important;
    color: #fff;
    padding: 10px;
    border-radius: 24px;
    cursor: pointer;
    font-size:25px;
    width: 328px;
    height: 67px;
}

.desencriptar {
    background: #ddd;
    border: 2px solid #001f3f !important;
    color:#001f3f;
    padding: 10px;
    border-radius: 24px;
    cursor: pointer;
    font-size:25px;
    width: 328px;
    height: 67px;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 10px;
    background:none;
    margin-top: 100px;

}
p{
    font-size: 13px;
    color: white;
    -webkit-text-stroke: 0.5px black;
}
.info {
    color: #941616; /* Color del texto */
    background: none !important; /* Sin fondo */
    background-color: none !important; /* Asegura que el color de fondo sea transparente */
}

h6{
    font-size: 18px;
    
}


